body{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font : 14px/22px Arial,sans-serif;
}

a{
    color: #ffffff;
}

/*Структура сайта*/
.mid{
    width: 1100px;
    margin: 0 auto;
}

/*Шапка сайта*/

.block{
    float: left;
    background: #777777;
    margin: 20px 0;
}

.block1{
    width: 120px;
    height: 110px;
    margin-left: 70px;
    margin-right: 20px;
}

.block2{
    width: 280px;
    height: 110px;
    margin-right: 20px;
}

.block3{
    height: 110px;
    width: 520px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

hr{
    width: 960px;
    margin: 0;
    margin-left: 70px;
}

.contacts{
    list-style: none;
    margin: 20px;
    padding: 0;
    text-align: right;
    float: right;
}


/*Контент*/
.content{
    margin-bottom: 20px;
}
/*Левая часть*/
.left{
    width: 180px;
    margin: 20px 20px 0 70px;
    float: left;
}

.block4{
    width: 180px;
    height: 340px;
    margin-bottom: 300px;
    margin-top: 0;
}

.block7{
    width: 180px;
    height: 140px;
    margin-bottom: 0;
}

.nav{
    list-style: none;
    margin: 15px;
    padding: 0;
}

.nav a:hover{
    font-weight: bold;
}

/*Центральная часть*/
.center{
    width: 760px;
    float: left;
}

.center>.block{
    background: #dcdcdc;
}

.block5{
    width: 760px;
    height: 210px;
}

.block6{
    width: 136px;
    height: 160px;
    margin-top: 0px;
    margin-right: 20px;
}

.block6:nth-of-type(6){
    margin-right: 0;
}

.block6:nth-of-type(8){
    margin-right: 448px;
}

.block8,.block9{
    margin-top: 0;
    width: 370px;
    height: 210px;
    margin-bottom: 0;
}

.block8{
    margin-right: 20px;
}

.block8 span,.block9 span{
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    display: block;
    margin: 20px;
    color: #777777;
}

/*Футер*/

.block10, .block11{
    width: 300px;
    height: 180px;
    margin-left: 70px;
    margin-right: 20px;
}

.items1,.items2{
    list-style: none;
    float: left;
    margin: 20px;
    margin-right: 50px;
    padding: 0;
}

.block11{
    margin-left: 0px;
}

.rates{
    list-style: square;
    margin: 20px;
    margin-left: 40px;
    padding: 0px;
}

.block12, .block13{
    width: 320px;
    height: 80px;
}
.block13{
    margin-top: 0px;
}